/* START CSS*/

#mainBackground {
    background-color: seashell;
    color: blue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    text-align: center;
    font-size: 72px;
    margin-top:50px;
    z-index: 1;
    /* height: 300px; */
    min-height: 100%;
    padding: 50px;
}

.button {
    background-color: seagreen;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: auto;
    width: auto;
    font-size: 24px;
}
#question {
    font-size: 48px;
    
}
#display{
    font-size: 24px;
    color: seagreen;
}
#winner{
    font-size: 48px;
    color: seagreen;
}
#loser{
    font-size: 48px;
    color: seagreen;
}
/* END CSS*/